#!/usr/bin/make -f

export PYBUILD_NAME=cpuinfo
export PYBUILD_DEST_DIR_python3=debian/python3-$(PYBUILD_NAME)
export PYBUILD_DEST_DIR_APP=debian/py-cpuinfo
ifeq ($(PYBUILD_AUTOPKGTEST),1)
# Set things up so that test_cli uses the installed packages.
export PYBUILD_BEFORE_TEST=\
	mkdir -p {build_dir}/cpuinfo && \
	ln -s /usr/bin/py-cpuinfo {build_dir}/cpuinfo/cpuinfo.py
export PYBUILD_AFTER_TEST=rm -rf {build_dir}/cpuinfo
endif

%:
	dh $@ --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	# Move the python3 application to the application package.
	mkdir -p $(PYBUILD_DEST_DIR_APP)/usr/bin
	mv $(PYBUILD_DEST_DIR_python3)/usr/bin/cpuinfo $(PYBUILD_DEST_DIR_APP)/usr/bin/py-cpuinfo
